*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer {
    box-sizing: border-box;
    background-color: white;
}

.footer-page {
    font-size: 24px;
    text-align: center;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-page h3 {
    margin: 0px;
}

.footer-page p {
    margin: 0px;
}

.footer-page i {
    size: 2em;
    margin-top: 50px;
    margin-bottom: 10px;
}

.footer-page {
    margin-left: 30px;
    margin-right: 30px;
}

.Copyright {
    padding: 10px;
    padding-top: 30px;
    font-size: small;
    text-align: left;
}

@media (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    footer .footer-page-Copyright {
        justify-content: flex-start;
        width: 100%;
    }

    .footer-page {
        margin: 0px;
        width: 30%;
        height: 8em;
    }

}