<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- enlazado hoja de css -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- Fuente de google roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="logo-mercado-liebre">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="300" height="300"></img>
        </div>
        <div class="search-bar-button">
            <div class="search-bar">
                <p> Buscar productos, marcas </p>
            </div>
            <div class="search-button"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></div>
        </div>
        <div class="cta">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p> Cómpra en cuotas y sin tarjetas de credito </p>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>
    <main class="products">

        <section class="last-visit">
            <h1 class="title">Basado en tu última visita</h1>

            <div class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="300"></img>
                <div>
                    <i id="circle" class="fa-solid fa-truck" style="color: #2ac328;"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% off</p>
                    <p class="product">Cafetera Moulinex</p>
                </div>

            </div>

            <div class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="300"></img>
                <div>
                    <i id="circle" class="fa-solid fa-truck" style="color: #2ac328;"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20% off</p>
                    <p class="product">Mac Book Pro 2019</p>
                </div>

            </div>

            <div class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="300"></img>
                <div>
                    <i id="circle" class="fa-solid fa-truck" style="color: #2ac328;"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">10% off</p>
                    <p class="product">Samsung Galaxy S10</p>
                </div>
            </div>

            <div class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="300"></img>
                <div>
                    <i id="circle" class="fa-solid fa-truck" style="color: #2ac328;"></i>
                    <p class="price">$23.200</p>
                    <p class="discount">5% off</p>
                    <p class="product">SmartTv Samsung 43"</p>
                </div>

            </div>
        </section>
    </main>
    <footer>
        <div class="footer-page">
            <i class="fa-solid fa-credit-card" style="color: #2c59ba;"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="footer-page">
            <i class="fa-solid fa-gift" style="color: #396bc0;"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="footer-page">
            <i class="fa-solid fa-user-shield" style="color: #3d6cbd;"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>

        <div class="footer-page">
            <h3 class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
</body>

</html>