<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('./partials/head.ejs', {style:"login", title:"Login"}) %>

    <body>
        <%- include('./partials/header.ejs') %>
            <main>
                <div class="div-form">
                    <form action="/login" method="post">
                        <p id="p-username">
                            <label for="username" id="label-username">Usuario</label>
                            <input type="text" name="username" id="input-username">
                        </p>
                        <p id="p-password">
                            <label for="password" id="label-password">Contraseña</label>
                            <input type="password" name="password" id="input-password">
                        </p>

                        <p id="p-login"><button type="submit" id="button-login"><a href="/home"
                                    id="a-button-login">Ingresar</a></button></p>
                    </form>
                </div>
            </main>
            
            <%- include('./partials/footer.ejs') %>
    </body>

</html>