<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- enlazado hoja de css -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- Normaliza para todos los nav -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Fuente de google roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="logo-mercado-liebre">
            <a href="/home"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="300"
                    height="300"></img></a>
        </div>
        <div class="search-bar-button">
            <div class="search-bar">
                <p> Buscar productos, marcas </p>
                <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
            </div>
        </div>
        <div class="cta">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p> Cómpra en cuotas y sin tarjetas de credito </p>
        </div>
        <nav class="nav-bar">
            <ul class="nav">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="nav-user">
                <li><a href="register">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="login">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="/register" method="post">
            <label for="name-lastname">Nombre Completo:</label>
            <input type="text" name="name-lastname">
            <label for="username">Usuario</label>
            <input type="text" name="username">
            <label for="email">Email</label>
            <input type="email" name="email">
            <label for="birthday">Fecha de Nacimiento</label>
            <input type="date" name="birthday">
            <label for="address">Direccion</label>
            <input type="address" name="address">
            <label for="comprarVender">Tipo de perfil
                <select name="comprarVender">
                    <option value="comprar" selected>Comprar</option>
                    <option value="vender">Vender</option>
                </select>
            </label>
            <label for="interest">Categoria
                <input type="checkbox" name="electro">Electro</input>
                <input type="checkbox" name="moda">Moda</input>
                <input type="checkbox" name="hogar">Hogar</input>
                <input type="checkbox" name="jugueteria">Jugueteria</input>
                <input type="checkbox" name="vidaSana">Fitness</input>
            </label>
            <label for="avatar">Sube tu avatar
                <input type="file" name="avatar" accept=".jpg, .png" multiple>
            </label>
            <label for="password">Contraseña
                <input type="password" name="password">
                <input type="password" name="password">
            </label>
            <button type="submit"><a href="/home">Enviar</a></button>
            <button type="reset">Borrar</button>
        </form>
    </main>
    <footer>
        <div class="footer-page">
            <i class="fa-solid fa-credit-card" style="color: #2c59ba;"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="footer-page">
            <i class="fa-solid fa-gift" style="color: #396bc0;"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="footer-page">
            <i class="fa-solid fa-user-shield" style="color: #3d6cbd;"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>

        <div class="footer-page-Copyright">
            <h3 class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
</body>

</html>