header {
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;;
}

main {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.search-bar p {
    color: gray;
}

.search-bar{
    background-color: white;
    width: 70%;
    border: solid 2px gray;
}

.products {
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    font-size: 12px;
}

.burger-menu {
    color: white;
    text-align: center;
    padding: 10px;
}

.cta {
    text-align: center;
    align-items: center;
}
.price {
    font-size: 18px;
}

.discount {
    font-size: 16px;
}

.title {
    font-size: 24px;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.footer-page {
    font-size: 24px;
    text-align: center;
}

