<footer>
    <div class="footer-page">
        <i class="fa-solid fa-credit-card" style="color: #2c59ba;"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </div>

    <div class="footer-page">
        <i class="fa-solid fa-gift" style="color: #396bc0;"></i>
        <h3>Envío gratis desde $2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </div>

    <div class="footer-page">
        <i class="fa-solid fa-user-shield" style="color: #3d6cbd;"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </div>

    <div class="footer-page-Copyright">
        <h3 class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </div>
</footer>