<header>
    <div class="logo-mercado-liebre">
        <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="300"
                height="300"></img></a>
    </div>
    <div class="search-bar-button">
        <div class="search-bar">
            <p> Buscar productos, marcas </p>
            <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
        </div>
    </div>
    <div class="cta">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <p> Cómpra en cuotas y sin tarjetas de credito </p>
    </div>
    <nav class="nav-bar">
        <ul class="nav">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="nav-user">
            <li><a href="/user/register">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
            <li><a href="/user/login">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>